<!DOCTYPE html>
<html lang="en">

<head>
    <title>Enter New Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/new_pass" method="POST">
        <label class="form-label">New password</label>
        <input type="password" name="password" class="form-control" placeholder="*****">
        <label class="form-label">Confirm password</label>
        <input type="password" name="conpass" class="form-control" placeholder="*****">
        <button type="submit" class="btn btn-success">Reset</button>
    </form>
</body>
</html>