<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Your Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/reset" method="POST">
        <label class="form-label">Email Address</label>
        <input type="email" name="email" class="form-control" placeholder="example@gmail.com">
        <button type="submit" class="btn btn-primary">Send Reset Link</button>
    </form>
</body>
</html>