<!DOCTYPE html>
<html>
<head>
  <title>Signup Form</title>
</head>
<body>
  <h1>Signup Form</h1>
  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <button type="submit">Sign Up</button>
  </form>
  <a href="/login">Already have an Account</a>
</body>
</html>